body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.main{
    display: flex;
    min-width: 40%;
    max-width: 70%;
    max-height: 70%;
    border: 2px solid black;
    flex-direction: column;
    padding: 20px 30px;
    box-sizing: border-box;
}

.SICombo{
    display: flex;
    flex-direction: column;
}

.name{
    display: flex;
    gap: 20px;
}

.QueryButtons{
    display: flex;
    justify-content: space-between;
}


