body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 60%;
    height: 60%;
    border: 2px solid black;
    flex-direction: column;
}